* {
    box-sizing: border-box;
    font-size: 25px;
    padding: 0;
    margin: 0;
}

.wrapper {
    border: 2px solid black;
    border-radius: 5px;
    width: 400px;
    height: 500px;
    margin: 50px auto;
    display: flex;
    flex-direction: column;
}

.square-view {
    display: flex;
    flex-direction: column;
    flex: 5;
}


.upper, .middle, .lower, .clear, .lower-div {
    display: flex;
    gap: 5px;
    margin: 0 4px 4px 4px;
}

button{
    flex: 1;
    height: 100%;
    border-radius: 15px;
    cursor: pointer;
}

#zero {
    flex: 2;
    padding-right: 3px;
}

.lower-div, .upper, .middle, .lower, .clear {
    flex: 1;
    justify-content: space-evenly;
    align-items: center;
}

.display {
    display: flex;
    text-align: right;
    justify-content: end;
    align-items: center;
    padding: 8px 5px;
    margin-bottom: 4px;
}

.clear div, .upper div, .middle div, .lower div {
    text-align: center;
    padding: 10px;
}

.result {
    background-color: rgb(32, 182, 231);
    width: 400px;
    height: 55px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 5px;
    border-radius: 4px;
    background-color: rgb(49, 45, 45);
    color: white;
}

.digit {
    background-color: rgb(30, 160, 177);
    border: 1px solid black;
}

div .operator {
    background-color: rgb(236, 240, 44);
    border: 1px solid black;
}

#equal {
    background-color: rgb(20, 241, 20);
    border: 1px solid black;
}

#clear-all {
    background-color: rgb(238, 42, 42);
    border: 1px solid black;
}

#percentage {
    background-color: orange;
    border: 1px solid black;
}

.square-view, .lower-div, .wrapper {
    background-color: rgb(211, 85, 85);
}